{{define "loginIndex"}}
        {{template "headerIndex" .}}

        <div style="text-align: center; padding: 110px;border: 10px;">
        <p>LOGIN</p>
        <form method="POST" enctype="multipart/form-data">

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" name="username">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" name="password">
                </div>
            </div>
        {{if ne .Response.Message ""}}
            <p>{{.Response.Message}} </p>
        {{end}}
            <div class="uk-margin">
                <div class="uk-button" >
                    <input type="submit" value="Giriş Yap" class="uk-button uk-button-primary">
                </div>
            </div>
        </form>

        </div>


{{end}}